<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.FPBG.mapper.ReplyMapper">

	<insert id="create">
	insert into Reply (boardNumber,replyContent,memNickName,memNumber)
	values(#{boardNumber},#{replyContent},#{memNickName},#{memNumber})
	</insert>
	
	<update id="update">
	update Reply set replyContent =#{replyContent}
	where replyNumber =#{replyNumber}
	</update>
	
	<delete id="delete">
	delete from Reply where replyNumber =#{replyNumber}
	</delete>
	
	<select id="list" resultType="ReplyVO">
	<![CDATA[
	select
	*
	from Reply
	where boardNumber = #{boardNumber}
	order by replyNumber desc
	]]>
	</select>
	
	<select id="listPage" resultType="ReplyVO">
	select
	*
	from Reply
	where boardNumber = #{boardNumber}
	order by replyNumber desc limit #{cri.pageStart}, #{cri.perPageNume}
	</select>
	
	<select id="count" resultType="int">
		select count(replyNumber) from Reply where boardNumber = #{boardNumber}
	</select>

</mapper>
