@CHARSET "UTF-8";


/* 로고,검색창 높이 */
.body {
	height: 440px;
}

/* TOP10 보드 높이 */
.board {
	height: 330px;
}

/* 검색창 상세높이,넓이 */
/**
  * input-group 검색칸의 전체 
  * search 검색 텍스트칸
  * search-btn 검색 버튼
  */
.input-group {
	height: 42px;
	margin: 0 30%;
}
@media(max-width:992px){
	.input-group {
		height: 42px;
		margin: 0 25%;
	}
}
@media(max-width:568px){
	.input-group {
		height: 42px;
		margin: 0 20%;
	}
}
#search {
	height: 42px;
}
.search-btn {
	width: 50px;
	height: 42px;
}

/* 로고 중앙정렬 */
.body .logo {
	height: 350px;
	margin: auto;
	padding-top: 75px;
}

.logo-img {
	width: 100%;
	height: 200px;
	line-height: 200px;
	text-align: center;
}
.body .logo img{
	width: 100%;
	max-width: 540px;
}

/* TOP10 선 */
.textboard{
	border: 2px solid #BDBDBD;
}

/* TOP10 곡선, 텍스트정렬,크기 */
.textboard {
	border-radius: 15px 15px 0px 0px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.readboard {
	height: 430px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 0px;
}