@CHARSET "UTF-8";

.select-toggle1,
.select-toggle2,
.select-toggle3,
.search-box {
	height: 65px;
	border: 1px solid black;
	border-radius: 0px 25px 25px 0px;
}

.left-box {
	height: 100px;
}

.box-text {
	display: inline;
	height: 100px;
	font-size: 24px;
}

table th {
	background-color: #344758;
	color:white;
	font-size: 36px;
}

table tr {
	font-size: 24px;
}